# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [52]:
# import numpy and pandas
import numpy as np
import pandas as pd
from scipy.stats import binom_test

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [177]:
# Run this code:

salaries = pd.read_csv('../Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [178]:
# Your code here:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [55]:
# Your code here:
perc_null_col = salaries.isnull().sum().apply(lambda x: x/salaries.shape[0]).sort_values(ascending=False)
perc_null_col

Hourly Rate          0.75825
Typical Hours        0.75825
Annual Salary        0.24175
Salary or Hourly     0.00000
Full or Part-Time    0.00000
Department           0.00000
Job Titles           0.00000
Name                 0.00000
dtype: float64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [56]:
# Your code here:
salaries["Salary or Hourly"].value_counts(dropna=False)

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [57]:
# Your code here:
salaries["Department"].value_counts(dropna=False)

POLICE                   13414
FIRE                      4641
STREETS & SAN             2198
OEMC                      2102
WATER MGMNT               1879
AVIATION                  1629
TRANSPORTN                1140
PUBLIC LIBRARY            1015
GENERAL SERVICES           980
FAMILY & SUPPORT           615
FINANCE                    560
HEALTH                     488
CITY COUNCIL               411
LAW                        407
BUILDINGS                  269
COMMUNITY DEVELOPMENT      207
BUSINESS AFFAIRS           171
COPA                       116
BOARD OF ELECTION          107
DoIT                        99
PROCUREMENT                 92
INSPECTOR GEN               87
MAYOR'S OFFICE              85
CITY CLERK                  84
ANIMAL CONTRL               81
HUMAN RESOURCES             79
CULTURAL AFFAIRS            65
BUDGET & MGMT               46
ADMIN HEARNG                39
DISABILITIES                28
TREASURER                   22
HUMAN RELATIONS             16
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: Department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [93]:
# Your code here:
from scipy import stats
popmean = 30 
a = salaries[salaries["Hourly Rate"].notnull()]["Hourly Rate"] #coger todos los no nules

In [63]:
sample_mean - mean_obj

2.7885577162812822

In [64]:
stats.ttest_1samp(a,popmean)

Ttest_1sampResult(statistic=20.6198057854942, pvalue=4.3230240486229894e-92)

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [ ]:
# 1º Approach = we cant use it because we dont have 2 samples 
#I will use the following scipy ttest because after reading a lot... I think is the one that better addatp to what we are looking for
# scipy.stats.ttest_ind
#DEFINITION: This is a two-sided test for the null hypothesis that 2 independent samples have identical average (expected) values. 
#This test assumes that the populations have identical variances by default.

In [100]:
salaries["Department2"] = salaries[salaries["Department"]=="POLICE"]["Department"] #coger todos los no nules
salaries2  = salaries[salaries["Department2"].notnull()]
salaries2

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate,Department2
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN,POLICE
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN,POLICE
9,"ABBATE, TERRY M",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN,POLICE
11,"ABDALLAH, ZAID",POLICE OFFICER,POLICE,F,Salary,NaN,84054.0,NaN,POLICE
12,"ABDELHADI, ABDALMAHD",POLICE OFFICER,POLICE,F,Salary,NaN,87006.0,NaN,POLICE
...,...,...,...,...,...,...,...,...,...
33177,"ZYGMUNT, DAWID",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN,POLICE
33178,"ZYLINSKA, KATARZYNA",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN,POLICE
33179,"ZYMANTAS, LAURA C",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN,POLICE
33180,"ZYMANTAS, MARK E",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN,POLICE
33181,"ZYRKOWSKI, CARLO E",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN,POLICE

In [108]:
# Your code here:
from scipy import stats

popmean = 86000
a = salaries2[salaries2["Annual Salary"].notnull()]["Annual Salary"]

In [109]:
# Your code here:
stats.ttest_1samp(a,popmean)
# 0,002 is significant lower than 0,05 so we reject de Hipotesis os increased salaries

Ttest_1sampResult(statistic=3.081997005712994, pvalue=0.0020603403550965137)

In [ ]:
# ¿Por qué no puedo usar este parametro?
stats.ttest_1samp(a,popmean, alternative='greater')

Using the `crosstab` function, find the department that has the most hourly workers.

In [126]:
D = pd.crosstab(salaries.Department, salaries["Salary or Hourly"])
D.sort_values(by=['Hourly'], inplace=True, ascending=False)
D.head()
# Streets & San is the department wtih more hourlyworkers

Salary or Hourly  Hourly  Salary
Department
STREETS & SAN       1862     336
WATER MGMNT         1513     366
OEMC                1273     829
AVIATION            1082     547
GENERAL SERVICES     765     215

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [127]:
salaries["Department3"] = salaries[salaries["Department"]=="STREETS & SAN"]["Department"] #coger todos los no nules
salaries3  = salaries[salaries["Department3"].notnull()]
salaries3

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate,Department3
7,"ABBATE, JOSEPH L",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60,STREETS & SAN
21,"ABDUL-SHAKUR, TAHIR",GENERAL LABORER - DSS,STREETS & SAN,F,Hourly,40.0,NaN,21.43,STREETS & SAN
24,"ABERCROMBIE, TIMOTHY",MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60,STREETS & SAN
36,"ABRAMS, DANIELLE T",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,36.21,STREETS & SAN
39,"ABRAMS, SAMUEL A",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60,STREETS & SAN
...,...,...,...,...,...,...,...,...,...
33107,"ZIZUMBO, LUIS",MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60,STREETS & SAN
33147,"ZUMMO, ROBERT J",MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60,STREETS & SAN
33149,"ZUNICH, JONATHAN G",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,36.21,STREETS & SAN
33156,"ZUNIGA, THOMAS",GENERAL LABORER - DSS,STREETS & SAN,F,Hourly,40.0,NaN,22.12,STREETS & SAN
33162,"ZURAWSKI, MAC Z",REFUSE COLLECTION COORD,STREETS & SAN,F,Salary,NaN,76896.0,NaN,STREETS & SAN

In [131]:
# Your code here:
popmean = 35
a = salaries[salaries["Hourly Rate"].notnull()]["Hourly Rate"]

In [129]:
stats.ttest_1samp(a,popmean)
# As the pvalue result is signifficantly lower than 0,05 we can conclude than the hypothessis of earning less than 35€ / hour is true for this department

Ttest_1sampResult(statistic=-16.352363851001144, pvalue=3.7636889298508017e-59)

In [132]:
# Me gustaría haber podido usar esta función....
stats.ttest_1samp(a,popmean, alternative='less')

TypeError: ttest_1samp() got an unexpected keyword argument 'alternative'

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [ ]:
Confidence_level = 0.95
ddof= -1
mean_of_the_sample
Std_error

In [139]:
# Your code here:
h = salaries[salaries["Hourly Rate"].notnull()]["Hourly Rate"]
h

4        19.86
6        46.10
7        35.60
10        2.65
18       17.68
         ...
33164    46.10
33168    17.68
33169    35.60
33174    46.35
33175    48.85
Name: Hourly Rate, Length: 8022, dtype: float64

In [141]:
# Calculate the standard error
SE = stats.sem(h, axis=None, ddof=1)
SE

0.1352368565101596

In [146]:
# Calculate the mean of the sample
h_mean = salaries["Hourly Rate"].mean()
h_mean

32.78855771628128

In [164]:
# with a 95% of confidence a value of Hourly rate would be in the following interval
from scipy.stats import t

t.interval(0.95, len(h)-1, h_mean, scale = SE)

(32.52345834488529, 33.05365708767727)

In [153]:
#As we studied at class
h_mean - 1.96*(SE), h_mean + 1.96*(SE)

(32.52349347752137, 33.053621955041194)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [166]:
salaries["Department2"] = salaries[salaries["Department"]=="POLICE"]["Department"] #coger todos los no nules
salaries2  = salaries[salaries["Department2"].notnull()]

In [168]:
# Your code here:
P = salaries2[salaries2["Annual Salary"].notnull()]["Annual Salary"]
P

0        101442.0
1         94122.0
9         93354.0
11        84054.0
12        87006.0
           ...
33177     72510.0
33178     72510.0
33179     48078.0
33180     90024.0
33181     93354.0
Name: Annual Salary, Length: 13404, dtype: float64

In [171]:
# Calculate the standard error
SE_P = stats.sem(P, axis=None, ddof=1)
SE_P

157.82445675052244

In [170]:
# Calculate the mean of the sample
P_mean = salaries2["Annual Salary"].mean()
P_mean

86486.41450313339

In [173]:
# with a 95% of confidence a value of Hourly rate would be in the following interval
from scipy.stats import t

t.interval(0.95, len(P)-1, P_mean, scale = SE_P)

(86177.05631531784, 86795.77269094894)

In [175]:
#As we studied at class
P_mean - 1.96*(SE_P), P_mean + 1.96*(SE_P)

(86177.07856790237, 86795.75043836441)

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [176]:
# Your code here:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate,Department3,Department2
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN,NaN,POLICE
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN,NaN,POLICE
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN,NaN,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN,NaN,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86,NaN,NaN

In [188]:
salaries_c = salaries[salaries["Salary or Hourly"]=="Hourly"]["Salary or Hourly"] #coger todos los no nules
salaries_c

4        Hourly
6        Hourly
7        Hourly
10       Hourly
18       Hourly
          ...
33164    Hourly
33168    Hourly
33169    Hourly
33174    Hourly
33175    Hourly
Name: Salary or Hourly, Length: 8022, dtype: object

In [192]:
H_W = len(salaries_c)/len(salaries)
H_W

0.24175029382515142

In [193]:
count = len(salaries_c)
nobs = len(salaries)
value = 0.25

In [199]:
from statsmodels.stats.proportion import proportions_ztest
stat, pval = proportions_ztest(count, nobs, value)
print(pval)
# It is not significally different

0.0004481127249057967